/**********************/
/*осн стили для макета*/
/**********************/
@charset "utf-8"
body{
	margin: 0;
	padding: 0;
	background-color: #222222;
	background: #222 !important;
	background: orange !important;
    color: #fff;
}

body,
body * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/*@font-face {
	font-family: Red_ring_regular;
	src: url(main-sborka/assets/font/REDRING-REGULAR.OTF);
}

@font-face {
	font-family: Red_ring_ligth;
	src: url(main-sborka/assets/font/Red Ring light.ttf);
}

@font-face {
	font-family: Red_ring_black;
	src: url(main-sborka/assets/font/REDRING-BLACK.OTF);
}

@font-face {
	font-family: Red_ring_bold;
	src: url(main-sborka/assets/font/Red Ring_bold.ttf);
}*/

.babyswimming_head-image{
/*	background-image: url('http://www.kimberly.ru/experiments/lp-babyswimming/baby.jpg');*/
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	
	display: block;
	width: 100%;
	height: 600px;
	height: 100%;
	max-height: 640px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}

/*jivo*/
.label_39._bottom_3v._pad100_GR, .label_39._left_2d._pad100_GR, .label_39._right_1y._pad100_GR {
/*	background-color: #0099ff !important;*/
}

/*дисплей oshidanie*/
div.oshidanie__container {
	font-size: 18px;
    margin: 6em 2em 3em;
}
.oshidanie__container > h2.oshidanie__header {
	color: #333;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.2em;
    font-size: 32px;
}
.oshidanie__container > .oshidanie__header-line {
	width: 6%;
    background: #E8C456;
    height: 2px;
    border: 2px solid #E8C456;
    border-radius: 6px;
    margin: 0 auto;
}
.oshidanie__container > ul.oshidanie__list {
	display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    border: solid 0px #ebebeb;
    /*font-size: 18px;*/
    margin-top: 32px;
}
.oshidanie__container > ul.oshidanie__list > li {}
.oshidanie__container > ul.oshidanie__list > li.oshidanie__item {
	display: block;
	border: solid 0px #09f;
	margin: 0;
	font-size: 18px;
	text-decoration: none;
	color: #515151;
	color: #333;
	text-align: center;
	padding: 0.2em 0.6em 1.0em;
	width: calc(100% / 4);

}
.oshidanie__container > ul.oshidanie__list > li.oshidanie__item:before {
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	font-size: 32px;
	font-size: 100%;
	font-size: 6vw;
	color: rgba(0,0,0,.2);
}

.oshidanie__container > ul.oshidanie__list > li.oshidanie__item1:before{
	content: "\f086";
	color: rgba(130,208,227,.8);
}

.oshidanie__container > ul.oshidanie__list > li.oshidanie__item2:before{
	content: "\f4da";
	color: rgba(232,196,78,.8);
}

.oshidanie__container > ul.oshidanie__list > li.oshidanie__item3:before{
	content: "\f891";
	content: "\f46c";
	content: "\f0ae";
	color: rgba(231,135,103,.8);
}

.oshidanie__container > ul.oshidanie__list > li.oshidanie__item4:before{
	content: "\f501";
	color: rgba(126,196,157,.8);
}




.oshidanie__container > ul.oshidanie__list > li.oshidanie__item > .oshidanie__item__pic-container {}
.oshidanie__container > ul.oshidanie__list > li.oshidanie__item > .oshidanie__item__pic-container i {}
.oshidanie__container > ul.oshidanie__list > li.oshidanie__item > .oshidanie__item__pic-container i.oshidanie__item__pic {
	text-decoration: none;
    color: #515151;
}
.oshidanie__container > ul.oshidanie__list > li.oshidanie__item > .oshidanie__item__pic-container i.oshidanie__item__pic:before {
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}
.oshidanie__container > ul.oshidanie__list > li.oshidanie__item > .oshidanie__item__pic-container i.oshidanie__item1__pic:before {
	content: "\f4b4";
}
.oshidanie__container > ul.oshidanie__list > li.oshidanie__item > .oshidanie__item__pic-container i.oshidanie__item2__pic:before {
	content: "\f095";
}
.oshidanie__container > ul.oshidanie__list > li.oshidanie__item > .oshidanie__item__pic-container i.oshidanie__item3__pic:before {
	content: "\f095";
}
.oshidanie__container > ul.oshidanie__list > li.oshidanie__item > .oshidanie__item__pic-container i.oshidanie__item4__pic:before {
	content: "\f095";
}
.oshidanie__container > li.oshidanie__item > * {}
.oshidanie__container > li.oshidanie__item > h3.oshidanie__item__header {}
.oshidanie__container > li.oshidanie__item > p.oshidanie__info {}


/*дисплей activites*/
div.utp__container {
	font-size: 18px;
    background: white;
	background: #f6f6f6;
    margin: 0;
    padding: 2em 2em 3em;
    font-size: 18px;
    margin: 6em 0em 3em;
}
.utp__container > div.utp__dochernii-container {}
.utp__container h2.utp__header {
	color: #333;
    text-transform: uppercase;
	font-size: 32px;
}
.utp__container p.utp__descr {
	color: #333;
    font-size: 26px;
	margin: 0.6em 0;
}
.utp__container hr.utp__header-line {
	width: 6%;
    background: #E8C456;
    height: 2px;
    border: 2px solid #E8C456;
    border-radius: 6px;
	margin: 0;
}
.utp__container ul.utp__list {
	display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    list-style-type: none;
	margin: 0;
    padding: 0;
}
.utp__container ul.utp__list li.utp__item {
	display: block;
    width: calc(100% / 3 - 0px);
    margin: 1.6em 0;
    padding: 1em;
    border-left: solid 0px #ebebeb;
	padding-left: 103px;
	padding-left: 8vw;
	position: relative;
	-webkit-transition: ease .6s;
	transition: ease .6s;
	padding-top: 0;
}
.utp__container ul.utp__list li.utp__item:hover {
	// border: solid 1px #ebebeb;
	// border-radius: 2px;
	// box-shadow: 0px 0px 6px 2px (rgba: 0,0,0,.2);
	// padding: calc(1em + 0px);
}
.utp__container ul.utp__list .utp__pic-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;
	width: 5.6vw;
    height: 5.6vw;
	border-radius: 2px;
	overflow: hidden;
}
.utp__container ul.utp__list .utp__pic-container1 {
	background: #E8C456;
}
.utp__container ul.utp__list .utp__pic-container2 {
	background: #E7875A;
}
.utp__container ul.utp__list .utp__pic-container3 {
	background: #7EC49D;
}
.utp__container ul.utp__list .utp__pic-container4 {
	background: #82D0E3;
}
.utp__container ul.utp__list .utp__pic-container5 {
	background: #8C6B90;
}
.utp__container ul.utp__list .utp__pic-container6 {
	background: #9D5855;
}

.utp__container ul.utp__list .utp__pic-container .utp__pic-char {
	width: 48px;
    height: 48px;
    border: 0px solid lightblue;
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: -6px;
    left: 6px;
    padding: 0;
    margin: 0;
}
.utp__container ul.utp__list .utp__pic-container .utp__pic-char:before {
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;

	font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 32px;
    color: rgba(0,0,0,.2);
    color: rgba(255,255,255,1.0);
}
.utp__container ul.utp__list .utp__pic-container .utp__pic-char:before {
	/*content: "Б";*/
    /*width: 100%;
    height: 100%;
    font-size: 5.0em;
    text-align: center;
    display: block;
    line-height: 100px;
    color: white;
    color: rgba(0,0,0,.2);

    font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	color: white;*/
}
.utp__container ul.utp__list .utp__pic-container .utp__pic-char1:before {
	content: "\f4b4";
	content: "\f4b4";

	content: "\f086";
    
}
.utp__container ul.utp__list .utp__pic-container .utp__pic-char2:before {
	content: "\f4b4";
	content: "\f4b4";

	content: "\f303";
    
}
.utp__container ul.utp__list .utp__pic-container .utp__pic-char3:before {
	content: "\f4b4";
	content: "\f4b4";

	content: "\f164";
    
}
.utp__container ul.utp__list .utp__pic-container .utp__pic-char4:before {
	content: "\f4b4";
	content: "\f4b4";

	content: "\f66f";
    
}
.utp__container ul.utp__list .utp__pic-container .utp__pic-char5:before {
	content: "\f4b4";
	content: "\f4b4";

	content: "\f57e";
    
}
.utp__container ul.utp__list .utp__pic-container .utp__pic-char6:before {
	content: "\f4b4";
	content: "\f4b4";

	content: "\f201";
    
}

.utp__container ul.utp__list li.utp__item.utp__item1 {}
.utp__container ul.utp__list li.utp__item.utp__item2 {}
.utp__container ul.utp__list li.utp__item.utp__item3 {}
.utp__container ul.utp__list li.utp__item.utp__item4 {}
.utp__container ul.utp__list li.utp__item.utp__item5 {}
.utp__container ul.utp__list li.utp__item.utp__item6 {}
.utp__container ul.utp__list li * {}
.utp__container ul.utp__list  li.utp__item h3.utp__item__header {
	font-size: 26px;
	font-size: 20px;
    color: #333;
    line-height: normal;
    padding: 0;
    margin: 0;
    margin-top: 0.0em;
}
.utp__container ul.utp__list  li.utp__item p.utp__item__descr {
	color: #333;
    font-size: 1em;
	margin-bottom: 2.6em;
}
.utp__container ul.utp__list  li.utp__item div.utp__ink__container {
	width: auto;
    /* margin: 1em 0; */
    padding: 1em 0;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	position: relative;
	position: absolute;
	bottom: 0;
}
.utp__container ul.utp__list  li.utp__item div.utp__ink__container a.utp__item__link {
	    color: #333;
    font-size: 18px;
    text-transform: capitalize;
}

.utp__container ul.utp__list  li.utp__item div.utp__ink__container a.utp__item__link .fas {
	padding-right: 1em;
	padding-right: 0.6em;
}






/*дисплей news - start*/
div.our-news__container {
	font-size: 18px;
    margin: 6em 2em 3em;
}
div.our-news__container	div.our-news__dochernii-container {}
div.our-news__container	h2.our-news__header,
div.our-news__container	h2.our-news__header * {
	color: #fff !important;
    text-transform: uppercase;
	font-size: 32px;
	margin-bottom: 0.2em;
}
div.our-news__container	h2.our-news__header > a.our-news__header-link {
	color: #fff !important;
	height: 100px;
}
div.our-news__container	.our-news__dochernii-container p.our-news__descr {
	color: #333 ;
    font-size: 26px;
	margin: 0.6em 0;
	padding: 0;
}
div.our-news__container	hr.our-news__header-line {
	width: 6%;
    background: #E8C456;
    height: 2px;
    border: 2px solid #E8C456;
    border: 2px solid #82D0E3;
    border-radius: 6px;
	margin: 0;
}
div.our-news__container	ul.our-news__list {
	list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    padding: 0;
    margin: 1em auto 2em;
    width: 100%;
    border: solid 0px #09f;
}
div.our-news__container	ul.our-news__list li {
	width: calc(100% / 4);
	padding: 0 0.6em;
	position: relative;
}
div.our-news__container	ul.our-news__list li * {}
div.our-news__container	li.our-news__item-container {
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;

} 
div.our-news__container	div.our-news__item.our-news__item1 {
	background-color:#E8C456;	
	background:#E8C456;
} 
/*div.our-news__container	div.our-news__item.our-news__item1 {}*/
div.our-news__container	div.our-news__item.our-news__item2 {
	background-color:#E7875A;	
	background:#E7875A;
}
div.our-news__container	div.our-news__item.our-news__item3 {
	background-color:#7EC49D;	
	background:#7EC49D;
}
div.our-news__container	div.our-news__item.our-news__item4 {
	background-color:#82D0E3;	
	background:#82D0E3;
}
div.our-news__container	div.our-news__img-container {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}
div.our-news__container a.our-news__link-img {
	display: block;
}
div.our-news__container	img.our-news__img {
	width: 100%;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
}
div.our-news__container	p.our-news__date-container {
	font-size: 14px;
    color: white;
    position: absolute;
    left: 10px;
    top: 0px;
    background: #3e42448a;
    background-color: #3e42448a;
    text-align: center;
    padding: 10px 12px;
    border: solid 1px rgba(0,0,0,.0);
    border-radius: 2px;
    line-height: 1.2em;

}
div.our-news__container	h3.our-news__header {
	background: #3E4244;
    background-color: #3E4244;
    color: #fff;
    font-size: 20px;
    text-align: left;
    padding: 0.2em 0.6em;
    padding: 0.6em 0.6em;
    margin: 0;
}
div.our-news__container	p.our-news__item-descr {
	font-size: 16px;
	padding: 0.2em 1em;
	margin: 1em 0 2em;
	color: #fff;
}
div.our-news__container	div.our-news__link-container {
	position: absolute;
	position: relative;
	left: 0;
	bottom: 0;
	font-size: 16px;
	padding: 0.2em 0.6em;
}
div.our-news__container	li.our-news__item-container:hover a.our-news__link {
	border: solid 0px rgba(0,0,0,.2);
	background-color: rgba(0,0,0,.2);
	background: rgba(0,0,0,.2);
}
div.our-news__container	a.our-news__link {
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
    padding: 0.6em 1.2em;
    padding-left: calc(0.6em + 2px);
    border-radius: 2px;
    display: inline-block;
}
div.our-news__container	a.our-news__link:hover {
	text-decoration: underline;
}

.bg-brand-orange {background-color: #E8C456;}
.bg-brand-green {}
.bg-brand-red {background-color: #E7875A;}
.bg-brand-gray {background-color: #7EC49D;}
.bg-brand-blue {background-color: #82D0E3;}
.bg-brand-purple {background-color: #8C6B90;}
.bg-brand-bordo {background-color: #9D5855;}
.bg-brand-asfalt {background-color: #4a4b4f;}
.bg-brand-yellow {background-color: yellow;}



.our-news__dochernii-container .row {}
.our-news__dochernii-container .our-news__all-news-container {
	margin: 1em auto 2em;
}
.our-news__dochernii-container .our-news__all-news-container2 {
	padding: 0 0.6em;
}
.our-news__dochernii-container .our-news__all-news-link {
	color: #fff;
	font-size: 18px;
	text-align: center;
	float: right;
	padding: 0.2em 0.8em;
	border-radius: 2px;
}




/*2 экран - начало*/
div.our-services__container {
	display: block;
	background-image: url(assets/img/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
div.container {}
h2.our-services__header {
	font-size: 32px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-weight: 600;
	margin-top: 1.2em;
}
hr.our-services__underline {
	color: #7AE000;
	background-color: #7AE000;
	display: block;
	width: 26%;
	border: solid 1px #7AE000;
	border-radius: 6px;
	height: 3px;
	margin: 0 auto; 
}
p.our-services__description {
	color: #fff;
	font-size: 16px;
	line-height: 1.4em;
	text-align: center;
	margin: 1.2em 0;
	font-weight: 400;
}

p.our-services__description:nth-of-type(3) {
	margin-bottom: 48px;
}


div.row {}


div.our-services__usluga-item.col-md-4.col-sm-12.col-xs-12 {}
div.our-services__usluga-item {
	text-align: center;
}
div.our-services__usluga__img-container {
	display: block;
	overflow: hidden;
	border: solid 3px rgb(211, 63, 60);
	/*border: solid 2px #7AE000;*/
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 50%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*max-width: 300px;
    max-height: 300px;*/
    margin: 0 auto;
}
img.our-services__usluga__img {
	width: 100%;
	height: auto;
}

h3.our-services__usluga__title {
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
}
p.our-services__usluga__description {
	color: #fff;
	text-align: center;
	font-size: 16px;
	margin-bottom: 2em;
}







div.col-md-12.our-services__btn-container {
	display: block;
	width: 100%;
	text-align: center;
	/*margin-bottom: 32px;*/
	margin: 48px 0;
}

a.our-services__btn {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	font-size: 18px;
	padding: 0.4em 1.0em;
	border-radius: 4px;
	border: solid 3px hsla(1, 78%, 53%, 1);
	border: solid 1px rgb(211, 63, 60);
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	        box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	display: inline-block;
	/* float: right; */
	text-align: center;

	background-color: #d33f3c;
	background-color: rgb(211, 63, 60);
}
a.our-services__btn:hover {
	text-decoration: underline;
	color: #fff;
	background-color: rgba(211, 63, 60, 0.8);
    border-color: rgb(211, 63, 60);
}


/*/2 экран*/

/*3 экран*/

.container-fluid.photogallery__container {
	margin: 0;
	padding: 0;
	background-color: #222;
	display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.container-fluid {}
.photogallery__container {}

div.photogallery__photo-item.col-md-4.col-sm3.col-xs-2 {
	padding: 0;
	margin: 0;
}
div.photogallery__photo-item {}
a.photogallery__large-photo {
	overflow: hidden;
}
img.photogallery__small-photo {
	width: 100%;
	height: auto;
}

.photogallery__btn-container {
	margin: 32px auto 48px;
}

/*/3 экран*/

/*4 экран*/
/*в html это 5 экран */

div.club-cards__container {
	background-image: url(assets/img/bg5.jpg);
	background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
div.club-cards__ten {
	margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.7);
}
h2.club-cards__header {
	font-size: 32px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-weight: 600;
	margin-top: 1.2em;
}
div.club-cards__item  {
	margin-bottom: 48px;
	color: #fff;
	border-radius: 6px;
	border-radius: 2px;
    border: 2px solid #171717;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
div.club-cards__item:hover {
	background-color: rgba(255,255,255,0.06);
}

div.club-cards__item:hover h3.club-cards__title {
	text-decoration: underline;
}


h3.club-cards__title {
	font-size: 20px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	color: #d33f3c;
	text-transform: uppercase;
	font-weight: 400;
	font-weight: 600;
	margin-top: 1.0em;
}
h3.club-cards__title:before,
h3.club-cards__title::before {
	content: '«';
	font-weight: 400;
}
h3.club-cards__title:after,
h3.club-cards__title::after {
	content: '»';
	font-weight: 400;
}
p.club-cards__num-month {
	font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3em;
    line-height: normal;
}
p.club-cards__time {
	font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3em;
    line-height: normal;
}
p.club-cards__descr {
	font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3em;
    line-height: normal;
}
hr.club-cards__line {
	display: block;
	width: 90%;
    background-color: #7AE000;
	background-color: #ebebeb;

	color: #7AE000;
	color: #ebebeb;
	color: #d33f3c;
    display: block;
    border: solid 1px #7AE000;
    border: solid 1px #ebebeb;
    border: solid 1px #d33f3c;
    border-radius: 6px;
    height: 1px;
    margin: 16px auto;
}
ul.club-cards__list-options {
	display: block;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0 2.6em;
}
li.club-cards__text-option {
    margin-bottom: 0.6em;
}
div.club-cards__btn-container {
	display: block;
	width: 100%;
	margin: 2em 0;
	padding: 0;
	text-align: center;
}
/*/4 экран*/


/*5 экран*/
/*наши преимущества*/
div.our-plus__container {
	background-image: url(assets/img/bg6.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
	color: #fff;

}
div.our-plus__ten {
	margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.4);
}
h2.our-plus__header-h2 {
	font-size: 48px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4), 1px 1px 2px rgba(0,0,0,.2);
    margin-top: 0.6em;
}
h3.our-plus__header-h3 {
	font-size: 32px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4), 1px 1px 2px rgba(0,0,0,.2);
}

div.our-plus__item.col-md-3.col-sm-6.col-xs-12 {
	color: #fff;
}
div.our-plus__pict-container {}
div.our-plus__pict-container > i.fas {
	/*color: #7AE000;*/
	color: #fff;
	text-align: center;
    display: block;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
div.our-plus__pict-container:hover > i.fas {
	color: #7AE000;
}
img.our-plus__pict {}
h3.our-plus__item-title {
	color: #fff;
	color: #7AE000;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
p.our-plus__item-description {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
div.our-plus__btn-container {
	display: block;
	width: 100%;
	margin: 32px 0 48px;
	padding: 0;
	text-align: center;
}
/*/5 экран*/

/*6 экран пропускаю такое понятие, чтоб не путаться*/

/*7 экран*/
/*команда*/
/*/7 экран*/

/*8 экран  - расписание*/
div.container-fluid.schedule__container {
	/*background-color: #222;*/ 
	background-image: url(/assets/img/bg-cir.jpg); 
	/*background-image: url(assets/img/bg-cir2.jpg);*/
	  
	background-color: rgba(255,255,255,0.2); 
	background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed; 
    padding: 0; 
	
}
div.schedule__ten {
	background-color: rgba(0,0,0,0.78); 
	padding: 0 15px 6px 15px; 
    width: 100%; 
    height: 100%; 
}
div.schedule__container {} 
h2.schedule__header-h2 {
    margin-bottom: 0.6em;
	padding: 0.6em 0 0.2em;
    font-size: 32px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4), 1px 1px 2px rgba(0,0,0,.2);
}
h3.our-plus__header-h3 {
	display: none;

}
.curDay {
	background: #ebebeb;
	background: #fffbe5 !important;
	background-color: rgba(255,255,255,0.1) !important; 
}
/*/8 экран  - расписание*/

/*9 экран  - новости*/
div.news__container {
	display: block;
    background-image: url(assets/img/bg2.jpg);
    /*background-image: url(assets/img/bg-cir2.jpg);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
h2.news__header {
	font-size: 32px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin: 1.2em 0 0.1em;
}
hr.news__underline.our-services__underline {
	color: #7AE000;
    background-color: #7AE000;
    display: block;
    width: 26%;
    border: solid 1px #7AE000;
    border-radius: 6px;
    height: 3px;
    margin: 0 auto 2em;
}


div.news__item-container.col-md-4.col-sm-4.col-xs-12 {}
div.news__item {
	display: block;
    overflow: hidden;
    border: solid 2px rgb(211, 63, 60);
    /*border:solid 2px yellow;*/
    /* border: solid 2px #7AE000; */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 2.6em;
}
div.news__img-container {}
img.news__img {}
h3.news__title {
	color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}
p.news__description {
	display: block;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0 2.6em;
    padding: 0 1.2em;
}
div.news__btn-container {
	display: block;
    width: 100%;
    margin: 2em 0;
    padding: 0;
    text-align: center;
    /*background-color: blue;*/
}
/*/9 экран  - новости*/

/*10 экран  - правила*/
div.pravila__container {
	display: block;
    background-image: url(assets/img/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
h2.pravila__header {
	font-size: 32px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin: 1.2em 0 0.1em;
}
hr.pravila__underline.our-services__underline {
	color: #7AE000;
    background-color: #7AE000;
    display: block;
    width: 26%;
    border: solid 1px #7AE000;
    border-radius: 6px;
    height: 3px;
    margin: 0 auto 2em; 
}
div.col-md-4.col-sm-6.col-xs-12 {}
div.pravila__item {
	display: block;
    overflow: hidden;
    border: solid 2px rgb(211, 63, 60);
    /*border:solid 2px yellow;*/
    /* border: solid 2px #7AE000; */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 2.6em;
}
div.pravila__img-container {}
img.pravila__img {}
h3.pravila__title {
	color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}
p.pravila__description {
	display: block;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0 2.6em;
    padding: 0 1.2em;
}
div.pravila__btn-container {
	display: block;
    width: 100%;
    margin: 2em 0;
    padding: 0;
    text-align: center;
    /* background-color: blue; */
}
a.btn.spo-link {}
/*/10 экран  - правила*/

/*экран 12 (вставленный после) - feedback*/
div.feedback__container {
	background-image: url(assets/img/bg12--phone--probka.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #E2D7CC;
}

div.feedback__container a.feedback__link-tel {
	display: block;
	color: #E2D7CC; 
	color: rgb(211, 63, 60);
	background: none; 
	font-weight: 600; 
	font-size: 26px;
	margin: 0 auto;
	padding: 0.6em 0;
	-webkit-transition: 0.6s all ease;
	transition: 0.6s all ease;
}

div.feedback__container a {
	/* display: block; */
	color: #E2D7CC;
	color: #fff;
	background-color: #d33f3c;
	font-weight: 600;
	font-size: 22px;
	margin: 0 auto;
	padding: 0.2em 0.6em;
	-webkit-transition: 0.6s all ease;
	transition: 0.6s all ease;
}

div.feedback__container a:hover {
	color: #fff;
}

div.feedback__ten {
	background-color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    padding: 0px;
    padding-top: 32px;
    padding-bottom: 32px; 
}
div.feedback__ten > div.container {
	background-color: rgba(255,255,255,0.06);
	/*margin-bottom: 48px;*/
    border-radius: 6px;
    border-radius: 2px;
    border: 2px solid #171717;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    /*padding-top: 20px;
    padding-bottom: 32px;*/ 
}
h2.feedback__header {
	font-size: 32px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin: 1.2em 0 0.1em;
}
p.feedback__text-to-tel {
    font-size: 16px;
    line-height: 1.4em;
    text-align: center;
    font-weight: 400;
    margin: 1.2em 0px;
}
a.feedback__link-tel {}
div.feedback__form-container {
	/*background-color: rgba(255,255,255,0.06);
	margin-bottom: 48px;
    border-radius: 6px;
    border-radius: 2px;
    border: 2px solid #171717;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;*/
    overflow: hidden; 
}
h3.feedback__title {
	font-size: 26px;
    line-height: 1.4em;
    text-align: center;
    font-weight: 400;
    margin: 1.2em 0px;
}

div.feedback__name-container {
	margin-bottom: 26px;
}
div.feedback__name-text {}
input.feedback__input.feedback__name-input {}
input[type*="text"] {
	color: rgb(211, 63, 60);
	border: solid 2px rgb(211, 63, 60);
	background-color: rgba(255,255,255,0.0);
	font-size: 18px;
	font-weight: 600;
	padding: 0.2em 0.6em;
	text-align: left;
	width: 90%;
}

div.feedback__phone-container {
	margin-bottom: 26px;
}
div.feedback__phone-text {}
input.feedback__input.feedback__phone-input {}

div.feedback__checkbox-soglasie {
	display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
input.feedback__input.feedback__checkbox {
	background: rgba(255,255,255,0.0);
    color: red;
    margin-right: 0.6em;
    font-size: 16px;
    width: 1em;
    height: 1em;
}
input[type*="checkbox"]
div.feedback__phone-text {}

div.feedback__textarea-container {}
div.feedback__textarea-text {}
textarea.feedback__textarea {
	color: rgb(211, 63, 60);
	border: solid 2px rgb(211, 63, 60);
	background-color: rgba(255,255,255,0.0);
	font-size: 18px;
	font-weight: 600;
	padding: 0.2em 0.6em;
	text-align: left;
	resize: vertical;
	min-height: 7em;
	width: 90%;
}
textarea.feedback__textarea:hover,
textarea.feedback__textarea:focus,
textarea.feedback__textarea:active {
	border: solid 2px rgb(211, 63, 60) !important;
}


div.feedback__btn-container {
	
	text-align: center;
	margin: 2.0em 0;

}
div.feedback__btn.btn {}
/*/экран 12 (вставленный после) - feedback*/

/*11 экран  - карта*/
div.contacts__container {}
div.contacts__container > div.container-fluid {
	padding: 0;
	position: relative;
}
div.contacts__ten {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
    max-height: 640px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
div.contacts__text-container {

}
div.contacts__text {
	position: absolute;
	z-index: 10;
	left: 28px;
    top: 20px;
	right: 0;
	bottom: 0;

	padding: 50px 50px 50px 50px;
    background: #4a4b4f;
    max-width: 770px;
    min-height: 570px; 
    min-height: 460px; 
    width: 100%;
    margin: 0 20px;
    margin-top: 70px;
    /*position: relative;*/
    /*z-index: 2;*/
    -webkit-box-shadow: -5.237px 18.264px 57.62px 9.38px rgba(41,41,43,.52);
    box-shadow: -5.237px 18.264px 57.62px 9.38px rgba(41,41,43,.52); 
}

div.skew {
	-webkit-transform: skew(177deg);
    transform: skew(177deg);
    border-radius: 10px;
    /*position: relative;*/
    overflow: hidden;
}

h2.contacts__header {
	color: #222;
	color: #d33f3c;
	font-weight: 600;
    font-size: 32px;
    margin: 1em 1em 1em 2em; 
}
div.contacts__text-container {
	color: #fff;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	/* right: 0; */
	/* bottom: 0; */
	width: auto;
	min-width: 50vw;
	display: inline-block;
}
div.skew-content {
	-webkit-transform: skew(-177deg); 
    transform: skew(-177deg);
    color: #fff;
    color: #E2D7CC;
    height: 100%;
    border: solid 0px #09f;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
}
h3.contacts__adr-title {
	font-size: 28px;
    margin: 0;
    color: #fff;
}
p.contacts__ard-info {
	font-size: 18px;
    margin: 6px 0 26px;
}
h3.contacts__phone-title {
	font-size: 28px;
    margin: 0;
    color: #fff;
}
div.contacts__phone-info {
	font-size: 18px;
    margin: 6px 0 26px;
}
div.contacts__phone-info > ul {
	color: #fff;
	color: #E2D7CC;
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}
div.contacts__phone-info > ul > li {
	
}
div.contacts__phone-info > ul > li > a {
	color: #fff;
	color: #E2D7CC;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
div.contacts__phone-info > ul > li > a:hover {
	color: #fff;
}
h3.contacts__mail-title {
	font-size: 28px;
    margin: 0;
    color: #fff;
}
div.contacts__mail-info {
	font-size: 18px;
    margin: 6px 0 26px;
}
div.contacts__mail-info > ul {
	color: #fff;
	color: #E2D7CC;
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}
div.contacts__mail-info > ul > li {
	color: #fff;
	color: #E2D7CC;
}
div.contacts__mail-info > ul > li * {}
div.contacts__mail-info > ul > li a {
	color: white;
}
div.contacts__map-container {
	width: 100%;
	height: auto;
}
iframe.contacts__map-iframe {
	/*width: 100%;
	height: 100%;*/
}


.contacts__map-container {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden; border:1px solid #ccc;}
.contacts__map-container iframe,.myvideo object,.myvideo embed {position:absolute; top:0; left:0; width:100%; height:100%;}
/*/11 экран  - карта*/

/*12 экран  - футер*/
div.footer__container {
	background: #222;
	background-color: #222;
	color: #E2D7CC;
}
div.footer__ten {
	padding: 18px 0;
}
h2.footer__header {
	display: none;
	
}
hr.footer__underline {
	display: none;
	
}
div.footer__item {
	border-right: dashed 1px #ebebeb;
}
div.col-md-2.col-sm-4.col-xs-12:nth-child(6) > div.footer__item {
	border-right: 0;
}
div.footer__logo {
	overflow: hidden;
    border: solid 0px #09f;
    width: 78%;
}
div.footer__logo > div.top-nav__logo {
    border: solid 0px #ebebeb;
    min-height: 100px;
}
div.footer__logo > div.top-nav__logo .footer__logo-contain {
	background-repeat: no-repeat;
    background-size: cover;
    border: solid 0px #ebebeb;
    min-height: 100px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.footer__logo > div.top-nav__logo .footer__logo-contain span {
	font-size: 32px;
}

div.footer__logo > div.top-nav__logo .footer__logo-contain span.logo-style1 {
	color: white;
    font-weight: 200;
}
div.footer__logo > div.top-nav__logo .footer__logo-contain span.logo-style2 {
	color: yellow;
    font-weight: 600;
}
a.footer__polzovatelskoe-soglashenie {
	-webkit-transition: 0.2s all ease;
	transition: 0.2s all ease;
	color: #E2D7CC;
}
a.footer__polzovatelskoe-soglashenie:hover {
	color: #fff;
}
a.footer__tel {
	color: #E2D7CC;
}
div.footer__soc {}
div.footer__soc > ul {
	list-style-type: none;
	padding-left: 0;
	display: block;
	font-size: 18px;
	
}
div.footer__soc > ul > li {
	display: inline-block;
	margin: 0 0.6em;
}
div.footer__soc > ul > li:nth-child(1) {
	margin-left: 0;
}
div.footer__soc > ul > li a.footer__soc-pic {
	color: #E2D7CC;
}

div.footer__soc > ul > li a.footer__soc-pic > i.fab {
	font-size: 26px;
}
a.footer__soc-pic.footer__soc-fb {}
a.footer__soc-pic.footer__soc-vc {}
a.footer__soc-pic.footer__soc-i {}
/*/12 экран  - футер*/

/*13 экран  - футер2*/
div.footer2__container {
	background: #222;
    background-color: #222;
    color: #E2D7CC;
    border-top: solid 1px #e2d7cc;
}
div.container {}
div.footer2__ten.footer2__item-container {}
div.footer2__ten {}
div.footer2__item-container {
	display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


    
}

div.footer2__item {}
div.footer2__item div.footer2__logo-container {}
div.footer2__item div.footer__logo-contain {}
div.footer2__item div.footer__logo-contain span {
	font-size: 32px;
}
div.footer2__item span.logo-style1 {
	color: white;
	font-weight: 200;
}
div.footer2__item span.logo-style2 {
	color: yellow;
	font-weight: 600;
}


div.footer2__item {
	width: calc(100% / 3);
}
div.footer2__item:nth-child(1) {
	width: 100%;
	max-width: 20%;
}
div.footer2__item:nth-child(2) {}
div.footer2__item:nth-child(3) {}
div.footer2__logo-container {
	padding: 10px 0;
}
div.footer2__logo {
	/*background-image: url(https://www.kimberly.ru/experiments/probka1/assets/img/xfit--logo-xfit-min.png);*/
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 0px #ebebeb;
    min-height: 100px;
}
div.footer2__text {
	font-size: 14px;
    margin: 5px 0px;
}
a.footer2__text-link {
	color: #E2D7CC;
	text-decoration: underline;
}
a.footer2__text-link:hover {
	color: #fff;
}
div.footer2__tel {}
a.foote2__tel-link {
	font-size: 32px;
	color: #E2D7CC;
}
div.footer2__soc-container {}
ul.footer2__soc-list {
	list-style-type: none;
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap; 
	-webkit-box-pack: start; 
	    -ms-flex-pack: start; 
	        justify-content: flex-start;
	padding-left: 0;
}
li.footer2__soc-item {

}
a.footer2__soc-item__link {
	font-size: 32px;
    color: #fff;
    color: #E2D7CC;
    margin: 0 0.2em;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a.footer2__soc-item__link:hover {
	color: #fff;
	color: yellow;
}
a.footer2__soc-item__link > i.fab.fa-facebook {}
a.footer2__soc-item__link > i.fab.fa-vk {}
a.footer2__soc-item__link > i.fab.fa-instagram {}


/*стили для слайдера если вертикальная прокрутка


/*******************/
/*******media*******/
/*******************/
/*large pc*/
@media (min-device-width: 1367px) {
	.babyswimming_head-image {max-height: 800px;
	    background-position-y: center;}

	img.photogallery__small-photo {
		max-height: 20vw;
	}

		/*скрываем 1й футер*/
	.footer__container {
		display: none;
	}
}


/*pc*/
@media (min-device-width: 991px) and (max-device-width: 1366px) {

	img.photogallery__small-photo {
		max-height: 20vw;
	}

	/*скрываем 1й футер*/
	.footer__container {
		display: none;
	}
}


/*ipad pro*/
@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
	/*скрываем 2й футер*/
	.footer2__container {
		display: none;
	}
}


/*ipad*/
@media (min-device-width: 768px) and (max-device-width: 990px) {
	/*скрываем 2й футер*/
	.footer2__container {
		display: none;
	}
}


/*ipad*/
@media (min-device-width: 768px) and (max-device-width: 1024px) {
	/*скрываем 2й футер*/
	.footer2__container {
		display: none;
	}
}


/*ipad portrait*/
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	/*скрываем 2й футер*/
	.footer2__container {
		display: none;
	}
}


/*ipad portrait*/
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	/*скрываем 2й футер*/
	.footer2__container {
		display: none;
	}
}


/*iphone orientation landscape*/
@media (min-device-width: 480px) and (max-device-width: 767px) {
	/*скрываем 2й футер*/
	.footer2__container {
		display: none;
	}
}


/*iphone orientation portraite*/
@media (min-device-width: 240px) and (max-device-width: 479px) {
	/*скрываем 2й футер*/
	.footer2__container {
		display: none;
	}

	/*******/
	/*шапка*/

	.top-nav {
		background-image: none !important;
	    background-size: 0;
	}


	/*********************************/
	/*все что нужно для эф тренировок*/

	p.our-services__description {
		font-size: 20px;
		line-height: 1.6em;
	}

	a.our-services__btn {
		font-size: 22px;
	}


	/*************/
	/*фотогалерея*/
	.photogallery__large-photo {
		padding: 10px;
		display: block;
		border: solid 2px #d33f3c;
		border-bottom: solid 1px #d33f3c;
	}

	.photogallery__large-photo:nth-child(12){
		border-bottom: solid 2px #d33f3c;	
	}

	.photogallery__btn-container > a.photogallery__btn {
		font-size: 22px;
	}


	/*******************/
	/*виды клубных карт*/
	div.club-cards__container {
		background-image: none;
		background-color: #222;
	}

	h3.club-cards__title {
		font-size: 38px;
	}

	p.club-cards__num-month {
		font-size: 20px;
	}

	p.club-cards__time {
		font-size: 20px;
	}

	p.club-cards__descr {
		font-size: 20px;
	}

	ul.club-cards__list-options {
		font-size: 20px;
		padding: 0 2.0em;
	}

	.club-cards__btn-container > a.btn {
		font-size: 22px;
	}


	/*******************/
	/*наши преимущества*/
	h2.our-plus__header-h2 {
		font-size: 32px;
		word-break: break-word;
	}

	h3.our-plus__item-title {
		margin-bottom: 0;
		height: auto !important;
		padding: 0.4em 0;
	}

	p.our-plus__item-description {
		margin: 0 auto 10px;
	}


	/*********/
	/*новости*/
	h3.news__title {
	    font-size: 26px;
	}

	p.news__description {
		font-size: 20px;
	}


	/***************************/
	/*правила поведения в клубе*/
	h3.pravila__title {
		font-size: 26px;
	}

	p.pravila__description {
		font-size: 20px;
	}


	/*************/
	/*форма связи*/
	p.feedback__text-to-tel {
		font-size: 20px;
	}

	a.feedback__link-tel {
		font-size: 9vw !important;
		display: inline-block !important;
	}

	div.feedback__name-text {
	    font-size: 18px;
	}

	div.feedback__phone-container {
		font-size: 18px;
	}

	div.feedback__phone-text {
		font-size: 18px;
	}

	input.feedback__input.feedback__name-input {
		width: 100%;
		font-size: 22px;
		color: #fff;
		text-transform: capitalize;
	}

	input.feedback__input.feedback__phone-input {
		width: 100%;
		font-size: 22px;
		color: #fff;
		text-transform: capitalize;	
	}

	textarea.feedback__textarea {
		width: 100%;
		font-size: 22px;
		color: #fff;
	}

	div.feedback__btn-container > a.feedback__btn {
		font-size: 22px;
		background: #d33f3c;
	}


	/**********/
	/*контакты*/
	div.contacts__text-container {
		position: relative;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		display: block;
		-webkit-transform: skew(0deg, 0deg);
		        transform: skew(0deg, 0deg);
		border-radius: 0;
		border: none;
		height: auto;
	}

	h2.contacts__header {
		color: #fff;
		margin: 1.2em 0 0.6em;
		text-align: center;
	}

	div.skew {
		-webkit-transform: skew(0deg);
		transform: skew(0deg);
		border-radius: 0px;
		position: relative;
		overflow: hidden;
	}

	div.contacts__text {
		position: relative;
		z-index: 10;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 50px 50px 50px 50px;
		background: #222;
		max-width: 100%;
		min-height: 570px;
		min-height: 460px;
		width: 100%;
		margin: 0;
		margin-top: 0;
		-webkit-box-shadow: -5.237px 18.264px 57.62px 9.38px rgba(41,41,43,.52);
		        box-shadow: -5.237px 18.264px 57.62px 9.38px rgba(41,41,43,.52);
	}

	div.contacts__ten {
		background: #222;
		max-height: 100%;
	}

	div.skew-content {
		-webkit-transform: skew(0deg);
		        transform: skew(0deg);
		color: #fff;
		color: #E2D7CC;
		height: auto;
		border: solid 0px #09f;
		display: block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	div.contacts__map-container {
		width: 100%;
		height: auto;
		display: block;
		min-height: 50vh;
	}


	/*******/
	/*футер*/
	div.footer__logo > div.top-nav__logo {
		background: none !important;
	}

	div.footer__logo {
		overflow: hidden;
		border: solid 0px #09f;
		width: 100%;
	}

	div.footer__container div.footer__item {
		border: none;
		border-right: dashed 0px #ebebeb;
		font-size: 20px;
		line-height: normal;
		line-height: 1.6em;
		height: auto !important;
		margin-bottom: 1.6em;
		text-align: center;
	}

	div.col-md-2.col-sm-4.col-xs-12:nth-child(1) div.footer__item{
		margin-bottom: 0;
	}

	div.footer__container a.footer__tel {
		color: #d33f3c;
		font-weight: 600;
		font-size: 9vw;
		margin: 0.0em 0 0.6em;
		display: block;
	}

	div.footer__soc > ul > li a.footer__soc-pic > i.fab {
		font-size: 38px;
		color: #d33f3c;
	}


	/************************/
	/*bootstrap в index.html*/
	
	.col-md-4 {
		position: relative;
		min-height: 1px;
		/*было*/
		/*padding-left: 15px;*/
		/*padding-right: 15px*/
		/*стало*/
		padding-left: inherit !important;
		padding-right: inherit !important
	}
	.col-xs-12 {
		position: relative;
		min-height: 1px;
		/*было*/
		/*padding-left: 15px;*/
		/*padding-right: 15px*/
		/*стало*/
		padding-left: inherit !important;
		padding-right: inherit !important
	}
	.col-sm-12 {
		position: relative;
		min-height: 1px;
		/*было*/
		/*padding-left: 15px;*/
		/*padding-right: 15px*/
		/*стало*/
		padding-left: inherit !important;
		padding-right: inherit !important
	}
	.row {
		/*было*/
		/*margin-left: -15px;*/
		/*margin-right: -15px*/
		margin-left: inherit !important;
		margin-right: inherit !important
	}


	/*top slider - start*/

	/*top slider - edn*/


	/*дисплей menu - start*/

	/*дисплей menu - edn*/


	/*дисплей oshidanie - start*/
	div.oshidanie__container {}
	.oshidanie__container > h2.oshidanie__header {}
	.oshidanie__container > .oshidanie__header-line {}
	.oshidanie__container > ul.oshidanie__list {
		padding: 0;
	}
	.oshidanie__container > ul.oshidanie__list > li {}
	.oshidanie__container > ul.oshidanie__list > li.oshidanie__item {
		width: 100%;
		margin-bottom: 1em;
	}
	.oshidanie__container > ul.oshidanie__list > li.oshidanie__item:before {
		font-size: 32vw;
	}
	.oshidanie__container > ul.oshidanie__list > li.oshidanie__item1:before{}
	.oshidanie__container > ul.oshidanie__list > li.oshidanie__item2:before{}
	.oshidanie__container > ul.oshidanie__list > li.oshidanie__item3:before{}
	.oshidanie__container > ul.oshidanie__list > li.oshidanie__item4:before{}
	.oshidanie__container li.oshidanie__item > * {}
	.oshidanie__container li.oshidanie__item > h3.oshidanie__item__header {
		font-size: 32px;
		font-weight: 600;
		padding: 0.0em 0.0em 1.0em;
		margin: 0;
	}
	.oshidanie__container li.oshidanie__item > p.oshidanie__info {
		margin: 0;
		font-size: 20px;
		text-decoration: none;
		color: #333;
		text-align: center;
		padding: 0.0em 0.0em 1.0em;
	}
	/*дисплей oshidanie - edn*/
	

	/*дисплей activites - start*/
	div.utp__container {
		padding: 2em 0em 2em;
		margin: 6em 0em 3em;
	}
	.utp__container > div.utp__dochernii-container {
		margin: 2em 1em 2em !important;
	}
	.utp__container h2.utp__header {
		text-align: center;
	}
	.utp__container p.utp__descr {
		text-align: center;
	}
	.utp__container hr.utp__header-line {
		margin: 0 auto;
	}
	.utp__container ul.utp__list {}
	.utp__container ul.utp__list li.utp__item {
		width: 100%;
		padding: 1em;
	}
	.utp__container ul.utp__list li.utp__item:hover {}
	.utp__container ul.utp__list .utp__pic-container {
		position: relative;
		left: calc(50% - 9.3vw);
		top: 0;
		width: 100px;
		height: 100px;
		width: 18.6vw;
		height: 18.6vw;
		border-radius: 2px;
		overflow: hidden;
		margin: 0 0 1.8em;
	}
	.utp__container ul.utp__list .utp__pic-container1 {}
	.utp__container ul.utp__list .utp__pic-container2 {}
	.utp__container ul.utp__list .utp__pic-container3 {}
	.utp__container ul.utp__list .utp__pic-container4 {}
	.utp__container ul.utp__list .utp__pic-container5 {}
	.utp__container ul.utp__list .utp__pic-container6 {}
	.utp__container ul.utp__list .utp__pic-container .utp__pic-char {}
	.utp__container ul.utp__list .utp__pic-container .utp__pic-char:before {}
	.utp__container ul.utp__list .utp__pic-container .utp__pic-char:before {}
	.utp__container ul.utp__list .utp__pic-container .utp__pic-char1:before {}
	.utp__container ul.utp__list .utp__pic-container .utp__pic-char2:before {}
	.utp__container ul.utp__list .utp__pic-container .utp__pic-char3:before {}
	.utp__container ul.utp__list .utp__pic-container .utp__pic-char4:before {}
	.utp__container ul.utp__list .utp__pic-container .utp__pic-char5:before {}
	.utp__container ul.utp__list .utp__pic-container .utp__pic-char6:before {}
	.utp__container ul.utp__list li.utp__item.utp__item1 {}
	.utp__container ul.utp__list li.utp__item.utp__item2 {}
	.utp__container ul.utp__list li.utp__item.utp__item3 {}
	.utp__container ul.utp__list li.utp__item.utp__item4 {}
	.utp__container ul.utp__list li.utp__item.utp__item5 {}
	.utp__container ul.utp__list li.utp__item.utp__item6 {}
	.utp__container ul.utp__list li * {}
	.utp__container ul.utp__list  li.utp__item h3.utp__item__header {
		font-size: 26px;
		text-align: center;
	}
	.utp__container ul.utp__list  li.utp__item p.utp__item__descr {
		font-size: 21px;
	    line-height: 1.6em;
	}
	.utp__container ul.utp__list  li.utp__item div.utp__ink__container {
		width: 100%;
	}
	.utp__container ul.utp__list  li.utp__item div.utp__ink__container a.utp__item__link {}
	.utp__container ul.utp__list  li.utp__item div.utp__ink__container a.utp__item__link .fas {}






	/*дисплей activites - edn*/


	/*дисплей news - start*/
	.our-news__container{
		margin: 2em 1em 2em !important;
	}
	div.our-news__container {}
	div.our-news__container	div.our-news__dochernii-container {}
	div.our-news__container	h2.our-news__header {
		text-align: center;
	}
	div.our-news__container	.our-news__dochernii-container p.our-news__descr {
		text-align: center;
	}
	div.our-news__container	hr.our-news__header-line {
		margin: 0 auto !important;
	}
	div.our-news__container	ul.our-news__list {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	div.our-news__container	ul.our-news__list li {
		width: 100%;
		margin: 1em 0 2em;
		padding: 0;
	}
	div.our-news__container	ul.our-news__list li * {}
	div.our-news__container	li.our-news__item-container {} 
	div.our-news__container	div.our-news__item.our-news__item1 {} 
	/*div.our-news__container	div.our-news__item.our-news__item1 {}*/
	div.our-news__container	div.our-news__item.our-news__item2 {}
	div.our-news__container	div.our-news__item.our-news__item3 {}
	div.our-news__container	div.our-news__item.our-news__item4 {}
	div.our-news__container	div.our-news__img-container {}
	div.our-news__container	img.our-news__img {}
	div.our-news__container	p.our-news__date-container {
		font-size: 20px;
		padding: 0.6em 0.8em;
	}
	div.our-news__container	h3.our-news__header {
		font-size: 26px;
	}
	div.our-news__container	p.our-news__item-descr {
		font-size: 20px;
	}
	div.our-news__container	div.our-news__link-container {}
	div.our-news__container	li.our-news__item-container:hover a.our-news__link {}
	div.our-news__container	a.our-news__link {
		font-size: 20px;
		margin: 0 auto;
		display: block;
	}
	div.our-news__container	a.our-news__link:hover {}
	/*дисплей news - edn*/
	

	/*экран контакты - start*/

	/*экран контакты - edn*/


	/*экран footer - start*/

	/*экран footer - edn*/

}
