@charset "UTF-8";
.Rtable .Rtable-cell .zanyatie__container-1 {
	/*background-color: #ebebeb;*/
	background-color: #D4EFFB
}

.Rtable .Rtable-cell .zanyatie__container-2 {
	/*background-color: #00AEEF;*/
	background-color: #D4EFFB;
}

.Rtable .Rtable-cell .zanyatie__container-3 {
	/*background-color: #EABCD8;*/
	background-color: #D4EFFB;
}

.Rtable .Rtable-cell .zanyatie__container-4 {
	background-color: #D4EFFB;
}

.Rtable .Rtable-cell .zanyatie__container-5 {
	/*background-color: #D0E39A;*/
	background-color: #D4EFFB;
}

.Rtable .Rtable-cell .zanyatie__container-6 {
	/*background-color: #2dbdb6;*/
	background-color: #D4EFFB;
}

.Rtable .Rtable-cell .zanyatie__container-7 {
	/*background-color: #79c5ef;*/
	background-color: #D4EFFB;
}

.Rtable .Rtable-cell .zanyatie__container-forOthePrograms {
	/*background-color: #FECD64;*/
	background-color: #D4EFFB;
}